.modal-header {
  .close {
    font-weight: normal;
    color: theme-color("dark");
    opacity: 1;
  }
  .modal-title {
    font-size: 1.25rem;
    font-weight: normal;
    line-height: 1.3;
  }
}

.modal .modal-huge {
  max-width: 1200px;
  width: 1200px;
}
.modal .modal-large {
  max-width: 1000px;
  width: 1000px;
}
.modal .modal-middle {
  max-width: 800px;
  width: 800px;
}